In [1]:
import pandas as pd

In [2]:
import json

In [3]:
import datetime

In [4]:
df_total = pd.DataFrame()

In [5]:
year = 2008
while year<2022:
    file_name = "data/winter_"+str(year)+"-"+str(year+1)+".json"
    file_pointer = open(file_name)
    file_data = json.load(file_pointer)
    df_total = pd.concat([df_total, pd.json_normalize(file_data['results'])])
    year+=1
    file_pointer.close()

In [6]:
df_total

                    date datatype            station attributes    value
0    2008-12-15T00:00:00     ADPT  GHCND:USW00003017       ,,W,   -244.0
1    2008-12-15T00:00:00     ASLP  GHCND:USW00003017       ,,W,  10298.0
2    2008-12-15T00:00:00     ASTP  GHCND:USW00003017       ,,W,   8324.0
3    2008-12-15T00:00:00     AWBT  GHCND:USW00003017       ,,W,   -222.0
4    2008-12-15T00:00:00     AWND  GHCND:USW00003017       ,,W,      4.7
..                   ...      ...                ...        ...      ...
695  2022-01-21T00:00:00     WDF2  GHCND:USW00003017       ,,W,     30.0
696  2022-01-21T00:00:00     WDF5  GHCND:USW00003017       ,,W,     50.0
697  2022-01-21T00:00:00     WSF2  GHCND:USW00003017       ,,W,     16.1
698  2022-01-21T00:00:00     WSF5  GHCND:USW00003017       ,,W,     25.1
699  2022-01-21T00:00:00     WT01  GHCND:USW00003017       ,,W,      1.0

[9740 rows x 5 columns]

In [7]:
df_filtered=df_total.query("datatype in ['TMAX','TMIN']")

In [8]:
df_filtered

                    date datatype            station attributes  value
14   2008-12-15T00:00:00     TMAX  GHCND:USW00003017   ,,0,2400    2.0
15   2008-12-15T00:00:00     TMIN  GHCND:USW00003017   ,,0,2400  -19.0
37   2008-12-16T00:00:00     TMAX  GHCND:USW00003017   ,,0,2400   34.0
38   2008-12-16T00:00:00     TMIN  GHCND:USW00003017   ,,0,2400   -8.0
59   2008-12-17T00:00:00     TMAX  GHCND:USW00003017   ,,0,2400   37.0
..                   ...      ...                ...        ...    ...
652  2022-01-19T00:00:00     TMIN  GHCND:USW00003017   ,,W,2400   17.0
672  2022-01-20T00:00:00     TMAX  GHCND:USW00003017   ,,W,2400   39.0
673  2022-01-20T00:00:00     TMIN  GHCND:USW00003017   ,,W,2400   16.0
693  2022-01-21T00:00:00     TMAX  GHCND:USW00003017   ,,W,2400   36.0
694  2022-01-21T00:00:00     TMIN  GHCND:USW00003017   ,,W,2400   16.0

[1032 rows x 5 columns]

In [27]:
df_TMAX=df_filtered.groupby('datatype').get_group('TMAX')[['date','value']]

In [28]:
df_TMAX

                    date  value
14   2008-12-15T00:00:00    2.0
37   2008-12-16T00:00:00   34.0
59   2008-12-17T00:00:00   37.0
80   2008-12-18T00:00:00   28.0
109  2008-12-19T00:00:00   44.0
..                   ...    ...
615  2022-01-17T00:00:00   62.0
633  2022-01-18T00:00:00   58.0
651  2022-01-19T00:00:00   31.0
672  2022-01-20T00:00:00   39.0
693  2022-01-21T00:00:00   36.0

[516 rows x 2 columns]

In [29]:
df_TMAX=df_TMAX.set_index('date')

In [33]:
df_TMAX

                     value
date
2008-12-15T00:00:00    2.0
2008-12-16T00:00:00   34.0
2008-12-17T00:00:00   37.0
2008-12-18T00:00:00   28.0
2008-12-19T00:00:00   44.0
...                    ...
2022-01-17T00:00:00   62.0
2022-01-18T00:00:00   58.0
2022-01-19T00:00:00   31.0
2022-01-20T00:00:00   39.0
2022-01-21T00:00:00   36.0

[516 rows x 1 columns]

In [34]:
df_TMAX.rename(columns={'value':'TMAX'},inplace=True)

In [35]:
df_TMAX

                     TMAX
date
2008-12-15T00:00:00   2.0
2008-12-16T00:00:00  34.0
2008-12-17T00:00:00  37.0
2008-12-18T00:00:00  28.0
2008-12-19T00:00:00  44.0
...                   ...
2022-01-17T00:00:00  62.0
2022-01-18T00:00:00  58.0
2022-01-19T00:00:00  31.0
2022-01-20T00:00:00  39.0
2022-01-21T00:00:00  36.0

[516 rows x 1 columns]

In [36]:
df_TMIN=df_filtered.groupby('datatype').get_group('TMIN')[['date','value']]

In [37]:
df_TMIN=df_TMIN.set_index('date')

In [38]:
df_TMIN

                     value
date
2008-12-15T00:00:00  -19.0
2008-12-16T00:00:00   -8.0
2008-12-17T00:00:00   14.0
2008-12-18T00:00:00    5.0
2008-12-19T00:00:00   14.0
...                    ...
2022-01-17T00:00:00   24.0
2022-01-18T00:00:00   24.0
2022-01-19T00:00:00   17.0
2022-01-20T00:00:00   16.0
2022-01-21T00:00:00   16.0

[516 rows x 1 columns]

In [39]:
df_TMIN.rename(columns={'value':'TMIN'},inplace=True)

In [40]:
df_TMIN

                     TMIN
date
2008-12-15T00:00:00 -19.0
2008-12-16T00:00:00  -8.0
2008-12-17T00:00:00  14.0
2008-12-18T00:00:00   5.0
2008-12-19T00:00:00  14.0
...                   ...
2022-01-17T00:00:00  24.0
2022-01-18T00:00:00  24.0
2022-01-19T00:00:00  17.0
2022-01-20T00:00:00  16.0
2022-01-21T00:00:00  16.0

[516 rows x 1 columns]

In [105]:
df_concat_data=pd.concat([df_TMAX,df_TMIN],axis=1)

In [108]:
df_concat_data

                     TMAX  TMIN
date
2008-12-15T00:00:00   2.0 -19.0
2008-12-16T00:00:00  34.0  -8.0
2008-12-17T00:00:00  37.0  14.0
2008-12-18T00:00:00  28.0   5.0
2008-12-19T00:00:00  44.0  14.0
...                   ...   ...
2022-01-17T00:00:00  62.0  24.0
2022-01-18T00:00:00  58.0  24.0
2022-01-19T00:00:00  31.0  17.0
2022-01-20T00:00:00  39.0  16.0
2022-01-21T00:00:00  36.0  16.0

[516 rows x 2 columns]

In [43]:
def t_average(df):
    return (df.iloc[0]+df.iloc[1])/2

In [46]:
df_TAVG = df_concat_data.apply(t_average,axis=1)

In [70]:
df_TAVG

                    date     0
0    2008-12-15T00:00:00  -8.5
1    2008-12-16T00:00:00  13.0
2    2008-12-17T00:00:00  25.5
3    2008-12-18T00:00:00  16.5
4    2008-12-19T00:00:00  29.0
..                   ...   ...
511  2022-01-17T00:00:00  43.0
512  2022-01-18T00:00:00  41.0
513  2022-01-19T00:00:00  24.0
514  2022-01-20T00:00:00  27.5
515  2022-01-21T00:00:00  26.0

[516 rows x 2 columns]

In [71]:
df_TAVG=df_TAVG.reset_index()

In [78]:
df_TAVG=df_TAVG.set_index('date')

In [79]:
df_TAVG

                        0
date
2008-12-15T00:00:00  -8.5
2008-12-16T00:00:00  13.0
2008-12-17T00:00:00  25.5
2008-12-18T00:00:00  16.5
2008-12-19T00:00:00  29.0
...                   ...
2022-01-17T00:00:00  43.0
2022-01-18T00:00:00  41.0
2022-01-19T00:00:00  24.0
2022-01-20T00:00:00  27.5
2022-01-21T00:00:00  26.0

[516 rows x 1 columns]

In [82]:
df_TAVG.rename(columns={0:'TAVG'},inplace=True)

In [83]:
df_TAVG

                     TAVG
date
2008-12-15T00:00:00  -8.5
2008-12-16T00:00:00  13.0
2008-12-17T00:00:00  25.5
2008-12-18T00:00:00  16.5
2008-12-19T00:00:00  29.0
...                   ...
2022-01-17T00:00:00  43.0
2022-01-18T00:00:00  41.0
2022-01-19T00:00:00  24.0
2022-01-20T00:00:00  27.5
2022-01-21T00:00:00  26.0

[516 rows x 1 columns]

In [94]:
df_final=pd.concat([df_concat_data,df_TAVG],axis=1)

In [95]:
df_final

                     TMAX  TMIN  TAVG
date
2008-12-15T00:00:00   2.0 -19.0  -8.5
2008-12-16T00:00:00  34.0  -8.0  13.0
2008-12-17T00:00:00  37.0  14.0  25.5
2008-12-18T00:00:00  28.0   5.0  16.5
2008-12-19T00:00:00  44.0  14.0  29.0
...                   ...   ...   ...
2022-01-17T00:00:00  62.0  24.0  43.0
2022-01-18T00:00:00  58.0  24.0  41.0
2022-01-19T00:00:00  31.0  17.0  24.0
2022-01-20T00:00:00  39.0  16.0  27.5
2022-01-21T00:00:00  36.0  16.0  26.0

[516 rows x 3 columns]

In [96]:
def change_index(word):
    return word.split('T')[0]

In [98]:
df_final.index = [change_index(i) for i in df_final.index]

In [99]:
df_final

            TMAX  TMIN  TAVG
2008-12-15   2.0 -19.0  -8.5
2008-12-16  34.0  -8.0  13.0
2008-12-17  37.0  14.0  25.5
2008-12-18  28.0   5.0  16.5
2008-12-19  44.0  14.0  29.0
...          ...   ...   ...
2022-01-17  62.0  24.0  43.0
2022-01-18  58.0  24.0  41.0
2022-01-19  31.0  17.0  24.0
2022-01-20  39.0  16.0  27.5
2022-01-21  36.0  16.0  26.0

[516 rows x 3 columns]

In [100]:
df_final.to_csv('data/all_data_max_min_avg.csv')